  @import "../../assets/common.less";

  .WindowScrollerWrapper {
      flex: 1 1 auto;
  }

  .SearchBar {
      * {
          box-sizing: content-box;
      }
  }

  :global(.am-search) {
      border-bottom: 1px solid #ddd;
  } 
  
  .percentColorUp {
      color: @color-bleu-de-france-dark;
  }

  .percentColorDown {
      color: @color-vermilion-dark;
  }