  .WindowScrollerWrapper {
    flex: 1 1 auto;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    background-color: #fff;
  }
  
  .rowScrolling::after {
    // content: ': scrolling';
    font-size: 0.65rem;
    color: #aaa;
  }