@import "../assets/common.less";
.dashboardTab {
    width: 22px;
    height: 22px;
    background: url(../assets/assets.svg) center center / 28px 28px no-repeat;
}

.dashboardTabSelected {
    width: 22px;
    height: 22px;
    background: url(../assets/assets_active.svg) center center / 28px 28px no-repeat;
}

.marketTab {
    width: 22px;
    height: 22px;
    background: url(../assets/market.svg) center center / 28px 28px no-repeat;
}

.marketTabSelected {
    width: 22px;
    height: 22px;
    background: url(../assets/market_active.svg) center center / 28px 28px no-repeat;
}

.diamondTab {
    width: 22px;
    height: 22px;
    background: url(../assets/diamond.svg) center center / 28px 28px no-repeat;
}

.diamondTabSelected {
    width: 22px;
    height: 22px;
    background: url(../assets/diamond_active.svg) center center / 28px 28px no-repeat;
}

.fullScreen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #f5f5f9;
}

.flexPage {
    .fullScreen;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    .nav {
        flex: 0;
        width: 100%;
    }
    .body {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    .foot {
        flex: 0;
        width: 100%;
    }
}

.sendSmsBtn {
    height: 21px !important;
    line-height: 21px !important;
    border: none !important;
}

.coinStateGroup {
    width: 100%;
    .coinStateCell {
        header {
            color: #888;
            margin: 0;
            font-size: 14px;
        }
        p {
            margin: 5px 0 0;
            font-size: 18px;
        }
    }
}

.coinStateGroup+.coinStateGroup {
    margin-top: 15px;
}

.changeColorUp {
    color: @color-bleu-de-france-dark;
}

.changeColorDown {
    color: @color-vermilion-dark;
}

.iconCalender {
    width: 21px;
    height: 21px;
    background: url(../assets/calender.svg) center center / 28px 28px no-repeat;
}

.hidden {
    display: none;
}

.trigger {
    .group {
        padding: 15px 0;
        .cell {
            * {
                margin: 0;
            }
            header {
                font-size: 14px;
                color: #888;
                margin-bottom: 10px;
                text-align: center;
            }
            p {
                font-size: 6vw;
                text-align: center;
                a {
                    color: black;
                }
                a:link {
                    color: black;
                }
                overflow: hidden;
            }
        }
    }
}

:global(.am-popover .am-popover-item-container) {
    height: auto !important;
}

.triggerTooltip{
    display: block;
    width:50vw;
    margin: 15px 0;
}

.tabContent {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    color: #888;
    text-align: center;
}