.emptyContent{
    :global(.am-list-item){
        :global(.am-list-line) {
            :global(.am-list-content){
                text-align: center;
            }
        }
    }
}

.summary{
    .emptyContent
}

.values{
    .emptyContent
}

.distribution{
    :global(.label-text) {
        alignment-baseline: middle;
        font-size: 12px;
        font-family: arial,helvetica,"sans-serif";
        fill: #393939;
    }
    :global(.label-line) {
        stroke-width: 1;
        stroke: #393939;
    }
    :global(.label-circle) {
        fill: #393939;
    }
    .emptyContent
}

.assets{
    .emptyContent
}